/*
* @Author: piaoyidage
* @Date:   2017-04-05 20:10:55
* @Last Modified by:   piaoyidage
* @Last Modified time: 2017-04-05 20:10:58
*/

.item {
  background: yellow;
  margin: 10px 0;
}

.item2 {
  background: green;
}